<!doctype HTML>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="../static/about.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="trans"></div>
    <div class="yotheworld">
      SO WHO ARE WE?
    </div>
    <div class='therest'> <center>
      <br>
      <b>YO THE WORLD</b> is
going to be the largest
social experiment...<br>
...of the decade.<br><br>

1.You subscribe to <b class="meh">&nbsp&nbsp&nbspYOTHEWORLD</b> <br>
2. Everyone else subscribes to <b class="meh">&nbsp&nbsp&nbspYOTHEWORLD</b> too <br>
3. On July 4th 11:59pm PST, <b class="meh">&nbsp&nbsp&nbspYOTHEWORLD</b> will send the loudest YO to everyone who subscribed. <br><br>

<b class="meh">YOTHEWORLD&nbsp&nbsp&nbsp</b> will be more anticipated than the royal wedding, the inauguration of the first black president, and all three World Cups. </center>
    </div>
    <div class="footer">
      <a href="index.html"><center>FRONT PAGE</center></a>
    </div>
  </body>
</html>