<!doctype HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/index.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="block">
      <div class="container">
        <div class="row" style="text-align:center; padding-top:13%">
          <div class="title">
            YO THE WORLD
          </div>
          <div class="subtitle">
            For Charity
          </div>
        </div>
      </div>
    </div>
    <div class="block" id="second">
      <div class="row">
          <div class="col-md-12 blurb" style="text-align:center;">
            Help Us
          </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>
subscribers yos
