<!doctype HTML>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="../static/index.css">
  <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="yotheworld">
      YO!!
    </div>
    <div class='therest'>
      THE WORLD
    </div>
    <div class='counter'>
      # SUBSCRIBERS: {{ subscibers }}
    </div>
    <div class='yos'>
      # YO'S: {{ yos }}
    </div>
    <div class="footer">
      <a href="about.html"><center>ABOUT US</center></a>
    </div>

  </body>
</html>
subscribers yos
